<div class="topbar">
    <!-- Navbar -->
    <nav class="navbar-custom">
        <ul class="list-unstyled topbar-nav mb-0 float-end" style="height:auto !important;">

            <li class="dropdown mt-2">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" style="line-height:15px; max-height:auto;" data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <div class="d-flex flex-row align-items-center">
                        <div class="d-flex flex-column my-auto text-end">
                            <span class="me-2 nav-user-name hidden-sm fw-bold">@Model.FullName</span>
                            <small class="me-2 ">@Model.Email</small>
                        </div>
                        <span class="user-avatar">
                            <img src="@Url.Content(Model.UserImage != null ? "~/" + Model.UserImage : "~/img/defaultUser.png")" alt="user" class="thumb-sm rounded border border-blue">
                        </span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="/users/UserProfile/@Model.Id"><i data-feather="user" class="align-self-center icon-xs icon-dual me-1"></i> Profil</a>
                    <div class="dropdown-divider mb-0"></div>
                    <a class="dropdown-item" href="Auth/SignOut"><i data-feather="power" class="align-self-center icon-xs icon-dual me-1"></i> Çıkış</a>
                </div>
            </li>
        </ul><!--end topbar-nav-->

        <ul class="list-unstyled topbar-nav mb-0" style="height:auto !important;">
            <li>
                <button class="nav-link button-menu-mobile">
                    <i data-feather="menu" class="align-self-center topbar-icon"></i>
                </button>
            </li>
        </ul>
    </nav>
    <!-- end navbar-->
</div>